In [2]:
import numpy as np
import pandas as pd
from sklearn.metrics import cohen_kappa_score

In [3]:
elections_14 = pd.read_excel('merged_14_before.xlsx')
elections_19 = pd.read_excel('merged_19_before.xlsx')

In [4]:
elections_14.head(5)

,Id,Tweet,Time,Unnamed: 3,Akash_Category,Naiza_Category,Akash_Label,Nazia_Label
0,tc14_b_1,My profound apologies to Ganga Maa for not be...,B,0,NAG,NAG,0,0
1,tc14_b_2,I appeal to my Karyakarta sisters & brothers ...,B,1,NAG,NAG,0,0
2,tc14_b_3,I am overwhelmed by people's response! I assu...,B,0,NAG,NAG,0,0
3,tc14_b_4,Concluded the campaign for 2014 Lok Sabha ele...,B,0,NAG,NAG,0,0
4,tc14_b_5,8 months 5800+ rallies Charchas programmes 3 ...,B,0,NAG,NAG,0,0

In [6]:
type(elections_14['Akash_Category'])

pandas.core.series.Series

In [7]:
labels_Akash = elections_14['Akash_Label'].to_numpy()
print(labels_Akash)

[0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 2 0 0 0 1 2 1 0 1 0 1 2 1 0 1 2 1 0 1
 0 0 0 0 1 1 0 0 0 0 0 0 1 1 0 0 1 1 2 1 0 2 1 1 0 0 0 0 1 0 0 1 0 0 1 1 2
 0 2 0 0 1 1 1 1 0 1 1 0 0 1 1 1 1 0 1 0 0 1 1 1 1 0 1 1 1 0 1 0 1 0 1 1 1
 1 1 0 1 0 1 1 0 1 1 0 1 1 0 1 0 1 1 0 0 0 1 2 1 1 1 1 1 0 1 1 1 1 2 0 1 1
 1 1 0 1 0 1 1 0 1 0 0 1 0 1 0 0 1 0 1 1 0 1 1 0 1 0 2 1 0 1 1 1 1 0 0 0 1
 1 2 0 1 2 1 0 0 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0
 0 1 0 0 2 1 0 0 1 0 0 0 0 1 2 1 1 1 0 1 1 1 1 0 0 1 1 0 1 0 1 0 1 0 0 1 1
 0 0 0 0 1 0 0 1 0 1 1 1 0 2 0 0 0 0 0 0 0 0 0 0 0 1 0 2 2 2 2 2 1 2 1 1 2
 2 0 0 0 1 0 1 0 0 1 0 0 1 0 0 1 0 0 2 0 1 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0
 0 1 0 0 0 2 0 0 1 1 0 2 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 1 1
 1 1 1 2 2 2 2 0 1 1 2 0 2 0 0 0 1 1 1 0 0 1 1 2 2 0 1 1 0 0 1 0 0 0 0 1 0
 1 0 0 1 1 1 1 0 1 0 1 0 1 1 0 1 0 0 1 1 1 0 1 1 0 2 0 0 1 0 0 1 1 2 0 1 1
 0 1 0 1 1 1 1 0 0 1 0 0 0 0 1 1 1 1 0 1 0 1 0 1 2 2 0 1 1 1 1 0 0 1 1 1 0
 0 1 0 1 0 0 1 0 1 2 1 1 1 1 2 2 1 2 0 2 2 2 1 1 0 0 0 0 0 0 0 0 1 1 0 0 2
 1 2 1 2 0 1 1 0 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 0 1 2 1 1 0 0 0 0 0 0 1 1 2
 1 0 2 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 1 0 0 1 0 1 1 0 2 1 1 1 1 2 1 0 0 0 0
 0 0 0 1 1 0 0 0 1 1 2 1 1 1 1 1 2 2 1 0 1 2 1 1 1 1 2 2 0 1 1 1 1 2 2 1 2
 1 2 1 0 2 2 0 0 0 0 0 0 1 1 0 2 0 0 1 0 1 0 2 0 2 2 1 0 0 2 2 2 1 1 1 1 1
 0 0 1 1 2 1 2 1 1 1 0 0 0 1 1 1 1 2 1 1 1 1 0 0 1 1 1 1 0 2 1 1 2 0]

In [8]:
labels_Nazia = elections_14['Nazia_Label'].to_numpy()

In [9]:
election_14_kappa = cohen_kappa_score(labels_Akash, labels_Nazia)
print(election_14_kappa)

0.47514838094837675

![Cohen's Kappa Reliability](ck.png)

In [16]:
labels_Nazia_2 = elections_19['Nazia_Label'].to_numpy()
labels_Akash_2 = elections_19['Akash_Label'].to_numpy()

In [17]:
election_19_kappa = cohen_kappa_score(labels_Akash_2, labels_Nazia_2)
print(election_19_kappa)

0.2614767826763553

#### Election 2014

![Election 2014](merged_14_b.png)

#### Election 2019

![Election 2019](merged_19_b.png)